---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Público - Inicio App">
	<main class="max-w-xl mx-auto py-12">
		<h1 class="text-3xl font-bold">App de retos personales</h1>

		<p>
			Registra, crea y visualiza tus retos personales que quieres
			completar. ¡Solo para usuarios autenticados!
		</p>

		<div class="mt-12">
			<button class="bg-blue-500 text-white px-4 py-2 rounded">
				Iniciar sesión
			</button>
		</div>

		<p class="mt-12">
			Si ya has iniciado sesión, entra a tu
			<a class="underline text-sky-300" href="/retos">panel de retos</a>
		</p>
	</main>
</Layout>
