---
import { SignedIn, SignedOut, SignInButton, UserButton } from "@clerk/astro/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Público - Inicio App">
	<main class="max-w-xl mx-auto py-12">
		<h1 class="text-3xl font-bold">App de retos personales</h1>

		<p>
			Registra, crea y visualiza tus retos personales que quieres
			completar. ¡Solo para usuarios autenticados!
		</p>

		<SignedOut>
			<div class="mt-12">
				<SignInButton mode="modal" class="bg-blue-500 text-white px-4 py-2 rounded">
					Iniciar sesión
				</SignInButton>
			</div>
		</SignedOut>

		<SignedIn>
			<UserButton showName />
			<p class="mt-12">
				¡Ya has iniciado sesión! Entra a tu
				<a class="underline text-sky-300" href="/retos"
					>panel de retos</a
				>
			</p>
		</SignedIn>
	</main>
</Layout>
