---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privado - Tus retos personales">
    <main class="max-w-xl mx-auto py-12">
        <h1 class="text-3xl font-bold">Tus retos personales</h1>
        <p>
            Esta página está protegida y sólo un usuario registrado lo puede ver
        </p>
    </main>
</Layout>
